.form-input {
  min-height: 200px;
}

.container-ptkdev-widget {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgrey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgrey;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgrey;
}

.apply-container {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .container-ptkdev-widget {
    display: block;
    justify-content: space-between;
    width: 100vw;
  }
}
