# App #
#######
configs/
dist/dev/
examples/
modules/
scripts/
webcomponent/
app.js
jsconfig.json
.github
databases/
tests/
docs/
logs/
examples/*.log
examples/*.json
docker/
Dockerfile
Dockerfile.*
loginpin.txt
.gitmodules
.jshintrc
.gitattributes
.eslintrc.json
.editorconfig
.pm2-process.json
.all-contributorsrc
.eslintcache