// WebComponent: InstagramWidget {{ package.version }} - Collection of WebComponents by Patryk Rzucidlo [@PTKDev] <support@ptkdev.io>
// https://github.com/ptkdev-components/webcomponent-instagram-widget
(function() { {% include "./js/instagram-widget.min.js" %} })();