// WebComponent: InstagramWidget {{ package.version }} - Collection of WebComponents by Patryk Rzucidlo [@PTKDev] <support@ptkdev.it>
// https://github.com/ptkdev-components/webcomponent-instagram-widget
module.export={% include "./js/instagram-widget.js" %}